.Button {
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
  background: none;
  border: none;
  line-height: 22px;
  font-size: 1.42rem;
  color: #111;
  text-decoration: none;
  height: 22px;
  cursor: pointer;

  &:hover {
    color: #f13f40;
  }
}
