.Button {
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
  background: none;
  border: none;
  font-size: 18px;
  color: #111;
  text-decoration: none;
  height: 22px;
  cursor: pointer;
  letter-spacing: 2px;

  &:hover {
    color: #f13f40;
  }

  &:disabled {
    pointer-events: none;
    opacity: .42;
  }
}
