.PageFooter {
  z-index: 2;
  box-shadow: 0 0 1px rgba(123, 128, 133, 0.8);
  text-align: center;
  line-height: 42px;
  font-size: 2rem;
  color: #224222;

  @media (--tablet) {
    flex-direction: column;
  }
}
