.PageHeaderMenu {
  &-item {
    @media (--mobile) {
      font-size: 32px;
      margin: 0 0 42px 0;
    }

    &-link {
      text-decoration: none;
      color: #111;
      padding: 0 1rem;
      line-height: 42px;
      height: 42px;
      display: block;

      &-active  {
        color: #926d00 !important;
      }
    }
  }
  &-mobile_menu_button {
    display: none;
    @media (--mobile) {
      display: block;
    }
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    background: none;
    border: none;
    font-size: 24px;
  }
  &-links {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    @media (--mobile) {
      justify-content: center;
      background: #fede22;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 42px;
      width: 100%;
      height: calc(100vh - 32px);
      transform: translateY(100%);
      opacity: .42;
      transition: .22s ease-out;
      display: none;
      .menu_is_opened & {
        display: flex;
        transform: translateY(0);
        opacity: 1;

      }
    }
  }
}
