.PageHeader {
  background: white;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 0 4px #000;

  &-inner {
    display: flex;
    height: 50px;
    @media (--mobile) {
        height: 42px;
    }
    align-items: center;
    justify-content: space-around;
  }
}
