@media (max-width:655px) {
  .container {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0px 20px;
    margin: 0px auto;
  }

  #mobile_nav_icon {
    border-bottom: 12px double #fff;
    border-top: 4px solid #fff;
    cursor: pointer;
    float: right;
    height: 4px;
    margin: 20px 20px 20px 0px;
    padding-top: 4px;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    width: 35px;
    display: block;
  }
  .svg-menu {
    height: 270px;
  }
  .header {
    background: url('../images/fest2018_top.jpg') center -106px no-repeat #402d41;
  }
  .header {
    height: 681px;
  }
  .form .section-descr, .description .text, .form .buttons, .footer-container, .buy-button a {
    width: 100%;
  }
  .left-svg-circle {
    top: 615px;
  }
  .section-name {
    line-height: 30px;
  }

  .slick-prev {
    left: 0%;
  }
  .slick-next {
    right: 0%;
  }
  .slick-prev, .slick-next {
    width: 50px;
    height: 30px;
    bottom: -59px;
  }
  .big-image {
    width: 100%;
    height: 16.7%;
  }
  .big-container {
    height: 1253px;
  }
  .big-text {
    height: 1258px;
    width: calc(100% - 40px);
    margin: 0px;
    min-width: calc(100% - 40px);
  }
  .upper-price-counter-740 {
    display: none;
  }
  .upper-price-counter-320 {
    display: block;
  }
  .buy-button {
    padding: 50px 0px;
  }
  .upper-price-name {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .big-image:nth-child(1) {
    border: 0px;
    border-radius: 30px 30px 0px 0px;
  }
  .big-image:nth-child(5) {
    border-radius: 0px 0px 0px 00px;
  }
  .big-image:nth-child(6) {
    border: 0px;
    border-radius: 0px 0px 30px 30px;
  }
  .big-image:nth-child(3), .big-image:nth-child(5), .big-image:nth-child(2), .big-image:nth-child(4), .big-image:nth-child(6) {
    border: 0px;
    border-top: 1px solid #fff;
  }
  .slick-dots li button::before {
    font-size: 26px;
    width: 20px;
    height: 20px;
  }
  .slick-dots li {
    width: 20px;
  }
  .datename .container {
    padding: 47px 0px;
}
.atmosphere, .biosphere {
 padding-bottom: 0px;
}
.description .text, .form .section-descr, .block_tabs{
  font-size: 15px;
  line-height: 1.4;
}
.section-name, .name-fest{
  font-size: 35px;
}
.section-name{
  padding: 30px 0px 30px 0px;
}
.form .buttons a{
  font-size: 17px;
}

.buy-button a{
  font-size: 25px;
  padding: 10px 10px;
  border-radius: 15px;
}
.footer .footer-container>div {
    font-size: 14px;
    padding: 20px 0px 0px;
    line-height: 20px;
}
.footer .footer-container>div.col-right,
.footer .footer-container>div.logo{
      padding: 10px 0px 0px;
}
.date-fest {
    font-size: 25px;
    margin-bottom: 15px;
}

.description {
    padding: 34px 0px;
}
.right-svg-circle{
   top: 45px;
}
.circle left-svg-circle{
  top: 375px;
}
.h1-title{
  height: 63px;
}

.headliner {
 min-height: 830px;
 padding-bottom: 65px;
}
.Slider2{
  margin-bottom: 29px;
  margin-top: 27px;
}
.datename {
    background: url(/img/Circle_06_g.svg) 59% 50% no-repeat #403143;
    background-size: 800px auto;
}

.form .section-descr{
  margin-bottom: 27px;
  margin-top: -6px;
}
.form{
  padding-bottom: 23px;
}
#noosphere .form{
  padding-bottom: 1px;
}
.buy {
    padding-bottom: 33px;
}
.big-image .name{
  font-size: 18px;
  padding: 11px 20px;
}
.header_tabs {
  flex-direction: column;
  height: auto;
}
.header_tabs span{
  padding: 10px;
}
.cols{
  flex-direction: column;
}
.col_left50, .col_right50{
  width: 100%;
}
.about_festival {
  margin-top: 0px;
}
.hrefs{
  margin-top: 53px;
}
.header_tabs .header_item:first-child{
  border-radius: 26px 26px 0px 0px;
}
.cols_image, .cols_imagepp, .cols_imageart, .cols_imagekino, .img_colinstal{
  display: none;
}
}
