* {
  box-sizing: border-box;
}

html {
  color: #111;
  font-size: calc(100vw / 1280 * 10);
  font-family: Montserrat, sans-serif;

  @media (--desktop) {
    font-size: 10Px;
  }
  @media (--mobile) {
    font-size: calc(100vw / 320 * 10);
  }
}

body {
  overflow-x: hidden;
  width: 100vw;
}

body:not(.detected_keyboard_user) {
  outline: none;
}
